main {
    flex: 1 calc(95vh - 110px);
    display: flex;
    flex-direction: row;

    justify-content: space-around;
  }

#loginInfo{
  flex: 1;
}
#profileInfo{
  flex: 3;
  float: center;
}

#logged-in{
  font-size: 3.5vh;
  font-weight: bold;
}

.user-update{
  float: left;
  flex: 0 350px;
  padding: 0.5em;
}
.login{
  float: right;
  flex: 1;
}

.profile-header{
  margin:0px;
  padding:5px;
}

/*(14nem), where n=number of profiles*/
.profile-footer{
  margin:0px;
  padding:5px;
}

.profile-parent{
  flex: 1 calc(50vh - 110px);
  display: flex;
  flex-direction: row;
  align-items: start;
  margin:0px;
  padding:0px;
}

.profile-box{
  height: 50vh;
  min-height: 350px;
  margin: 10px;
  flex: 1 350px;
  max-width: 500px;
  min-width:350px;
  display: flex;
  flex-direction: column;
  background-color: rgb(63, 80, 80);

}

.profile-head{
  flex: 0 15px;
  margin: 5px 0;
}
.profile-section{
  flex: 1;
  display: flex;
  flex-direction:row;
}

.pfp-info{
  float: left;
  height: 95%;
  display: flex;
  flex-direction:column;
  align-items: center;
  flex: 0;
}

.pfp-info button{
  flex: 3;
  width: 100px;
  font-size: 1.5vh;
  margin: 0.25vh 0;
}

.username-info{
  float: right;
  height: 95%;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.service-name{
  margin: 5px 0;
}

.float-right{
  float: right;
}

@media (max-height: 700px){
  .pfp-info button{
    font-size: 8px;
    margin: 1px;
  }
  #logged-in{
    font-size: 24px;
  }

  main {
    flex: 1 95vh;
  }
}